.dialog {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;

}

.active {
    color: lightblue;
    font-weight: bold;
    background-color: #e0e0eb;
    transition: color 0.3s ease, background-color 0.3s ease;
}
